/*  your css code here. If applicable */
body{
	background-color:#cccccc;
}
h1{
	text-align:center;
}
h2{
	text-align:center;
}
.song, a{
	text-decoration: none:
}
.player_one {
	background-color:white;
}
.player_two {
	margin:0 auto;
	text-align:center;
	background-color:white;
	width:300px;
	height:280px;
}
